
div {
  text-align: center;
  font-size: 40px;
  p {
    font-family: cursive;

    }

  ol, li {
    font-family: serif;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
  }

}
